*
!.gitignore

!.github
!.github/**
!package.json
!pnpm-lock.yaml
!.prettierignore

!license
!readme.md

!hooks
!hooks/**
!skills
!skills/**
!CLAUDE.md
!settings.json
!statusline-command.sh
!file-suggestion.sh
